%wrapper
  .chat-side
    .side-header
      .side-header__box
        %p.side-header__box__user-name nagano
        %ul.side-header__box__menu
          %li
            = link_to "/groups/new" do
              %i.fas.fa-edit
          %li
            = link_to "/users/440/edit" do
              %i.fas.fa-cog
    .groups  
      = render "group"
  .chat-main
    .main-header
      %div.main-header__left-box
        %h2.main-header__left-box__current-group test
        %ul.main-header__left-box__member-list
          %li.main-header__left-box__member-list__member Member : tomo
      = link_to "/groups/891/edit" do     
        %div.main-header__edit-btn Edit
    .messages   
      = render "messages"
      
    .form
      %form.new_message{enctype: "multipart/form-data", method: "post"}
        .input-box
          %input.input-box__text{name: "message[content]", placeholder: "type a message", type: "text"}
          %label.input-box__image{for: "message_image"}
            %i.fa.fa-image
            %input.input-box__image__file{id: "message_image", type: "file"}
        %input.submit-btn{"data-disable-with" => "Send", name: "commit", type: "submit", value: "Send"}